body {
    margin: auto;
    max-width: 1400px;
}

 .nav-menu {
    margin: 0;
    padding: 20px 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

 .nav-menu li {
    display: inline;
}

 .nav-menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: 'Amethysta', sans-serif;
}

 .nav-menu li a:hover {
    text-decoration: underline;
}

.logo {
    font-family: 'Bungee Inline', cursive;
    text-align: center;
    font-size: 50px;
    display: block;
    padding-top: 50px;
}

 .scissors {
    width: 400px;
    height: 100px;
}

 .scissors-holder {
    display: flex;
    justify-content: center;
    padding-top: 110px;
}

 .barber {
    width: 100%;
}

 .barber {
    display: block;
}

 .moustache {
    width: 400px;
    height: 100px;
}

.moustache-holder {
    display: flex;
    justify-content: center;
}

 h2 {
    text-align: center;
    font-family: 'Abril+Fatface', sans-serif;
    display: block;
    margin-top: 5px;
    margin-right: 15px;
}

 .name-of-barbers {
    text-align: center;
    font-family: 'Abril+Fatface', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 2px;
}

.position {
    text-align: center;
    font-family: 'Abril+Fatface', sans-serif;
    font-size: 12px;
    display: block;
    margin: 5px auto;
}

 .mikebarber {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .barber-pole1 {
    width: 160px;
    height: 121px;
}

 .barber-pole2 {
    width: 160px;
    height: 121px;
}

 .barber-pole3 {
    width: 160px;
    height: 121px;
}

 .mike {
    width: 663px;
    height: 663px;
}

 .tommy {
    width: 668px;
    height: 428px;
}

 .johnny {
    width: 668px;
    height: 428px;
}

 .razor {
    width: 400px;
    height: 100px;
}

 .razor-holder {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

 .services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: black;
}

 .first-list li {
    list-style: none;
}

 .second-list li {
    list-style: none;
}

 .third-list li {
    list-style: none;
}

 .comb {
    width: 400px;
    height: 100px;
}

 .comb-holder {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.form {
    padding: 20px 0;
    font-size: 11px
}

.select-barber {
    width: 170px;
}

.calendar {
    width: 164px;
    height: 15px;
}

.time1 {
    width: 170px;
}

.write-a-name {
    width: 167px;
}

.send {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

 .brush {
    width: 400px;
    height: 100px;
}

 .brush-holder {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.friends {
    display: flex;
    justify-content: space-around;
}

.jack {
    width: 275px;
    height: 213px;
    display: grid;
    padding-top: 50px;
}

.uppercut {
    width: 320px;
    height: 320px;
    display: grid;
    padding-left: 55px;
}

.crew {
    width: 344px;
    height: 344px;
}

.telephone {
    width: 400px;
    height: 100px;
}

.telephone-holder {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.contact-us {
    display: flex;
    justify-content: space-around;
}

.adress {
    font-family: 'David+Libre', sans-serif;
    font-size: 20px;
}

.phone {
    font-size: 22px;
    color: black;
    padding-top: 10px;
}

.instagram {
    width: 40px;
    height: 40px;
    padding-left: 10px;
}

.youtube {
    width: 55px;
    height: 40px;
    padding-left: 10px;
}

.facebook {
    width: 40px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.social {
    display: flex;
    justify-content: center;
}

.map {
    width: 100%;
    height: 700px;
}

.black-footer {
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0;
    padding-top: 15px;
}

.footer {
    margin: 0;
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
}

@media (max-width: 960px) {
    .logo {
        font-family: 'Bungee Inline', cursive;
        text-align: center;
        font-size: 30px;
        display: block;
        padding-top: 25px;
    }
     main .mike {
        width: 100%;
        height: 700px;
    }

    main .tommy {
        width: 100%;
        height: 550px;
    }

    main .johnny {
        width: 100%;
        height: 570px;
    }

    .barber-pole1 {
        display: none;
    }

    .barber-pole2 {
        display: none;
    }

    .barber-pole3 {
        display: none;
    }

    .friends {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .jack {
        width: 275px;
        height: 213px;
        display: grid;
        padding-top: 50px;
    }

    .uppercut {
        width: 320px;
        height: 320px;
        display: grid;
        padding-left: 0;
    }

    .crew {
        width: 344px;
        height: 344px;
    }
}

@media (max-width: 720px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-menu li {
        padding: 20px 0;
        font-size: 11px
    }

    .logo {
        font-family: 'Bungee Inline', cursive;
        text-align: center;
        font-size: 22px;
        display: block;
        padding-top: 25px;
    }

    main .mike {
        width: 100%;
        height: 500px;
    }

    main .tommy {
        width: 100%;
        height: 350px;
    }

    main .johnny {
        width: 100%;
        height: 370px;
    }

    .barber-pole1 {
        display: none;
    }

    .barber-pole2 {
        display: none;
    }

    .barber-pole3 {
        display: none;
    }
    .comb {
    width: 100%;
    height: 100px;
    }
    .brush {
    width: 100%;
    height: 100px;
    }
    .telephone {
    width: 100%;
    height: 101px;
    }
    .friends {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .jack {
        width: 275px;
        height: 213px;
        display: grid;
        padding-top: 50px;
    }

    .uppercut {
        width: 320px;
        height: 320px;
        display: grid;
        padding-left: 0;
    }

    .crew {
        width: 344px;
        height: 344px;
        padding-left: 0px;
    }

    .telephone {
        width: 400px;
        height: 100px;
    }

    .telephone-holder {
        display: flex;
        justify-content: center;
        padding-top: 80px;
    }

    .contact-us {
        display: flex;
        justify-content: space-around;
    }

    .adress {
        font-family: 'David+Libre', sans-serif;
        font-size: 20px;
    }

    .phone {
        font-size: 22px;
        color: black;
        padding-top: 10px;
    }

    .instagram {
        width: 40px;
        height: 40px;
        padding-left: 10px;
    }

    .youtube {
        width: 55px;
        height: 40px;
        padding-left: 5px;
    }

    .facebook {
        width: 40px;
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .social {
        display: flex;
        flex-direction: column;
    }

    .map {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 540px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-menu li {
        padding: 20px 0;
        font-size: 11px
    }

    .logo {
        font-family: 'Bungee Inline', cursive;
        text-align: center;
        font-size: 12px;
        display: block;
        padding-top: 25px;
    }

    main .scissors-holder {
        display: none;
    }

    main .moustache {
        width: 100%;
        height: 75px;
    }

    main .razor {
        width: 100%;
        height: 75px;
    }

    main .servicesprices {
        padding-bottom: 20px;
    }

    main .name-of-barbers {
        font-size: 15px;
    }

    main h2 {
        font-size: 13px;
    }

    main .mike {
        width: 100%;
        height: 400px;
    }

    main .tommy {
        width: 100%;
        height: 270px;
    }

    main .johnny {
        width: 100%;
        height: 270px;
    }

    .barber-pole1 {
        display: none;
    }

    .barber-pole2 {
        display: none;
    }

    .barber-pole3 {
        display: none;
    }

    .services li {
        font-size: 8px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .friends {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .jack {
        width: 225px;
        height: 163px;
        display: grid;
        padding-top: 50px;
    }

    .uppercut {
        width: 270px;
        height: 270px;
        display: grid;
        padding-left: 0;
    }

    .crew {
        width: 294px;
        height: 294px;
    }

    .telephone-holder {
        display: flex;
        justify-content: center;
        padding-top: 80px;
    }

    .contact-us {
        display: flex;
        justify-content: space-around;
    }

    .adress {
        font-family: 'David+Libre', sans-serif;
        font-size: 15px;
    }

    .phone {
        font-size: 18px;
        color: black;
        padding-top: 10px;
    }

    .instagram {
        width: 30px;
        height: 30px;
        padding-left: 10px;
    }

    .youtube {
        width: 45px;
        height: 30px;
        padding-left: 5px;
    }

    .facebook {
        width: 30px;
        height: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .map {
        width: 100%;
        height: 300px;
    }

    .black-footer {
        display: flex;
        justify-content: center;
        background-color: black;
        margin: 0;
        padding-top: 5px;
    }

    .footer {
        margin: 0;
        color: white;
        font-size: 15px;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .logo {
        font-family: 'Bungee Inline', cursive;
        text-align: center;
        font-size: 10px;
        display: block;
        padding-top: 25px;
    }

    .services li {
        font-size: 7px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    main .mike {
        width: 100%;
        height: 300px;
    }

    main .tommy {
        width: 100%;
        height: 240px;
    }

    main .johnny {
        width: 100%;
        height: 240px;
    }

    .adress {
        font-family: 'David+Libre', sans-serif;
        font-size: 13px;
    }

    .phone {
        font-size: 15px;
        color: black;
        padding-top: 10px;
    }

    .footer {
        margin: 0;
        color: white;
        font-size: 11px;
        text-align: center;
    }
}

