body {
    margin: 0;
}

header .nav-menu {
    margin: 0;
    padding: 20px 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

header .nav-menu li {
    display: inline;
}

header .nav-menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: 'Amethysta', sans-serif;
}

header .nav-menu li a:hover {
    text-decoration: underline;
}

header .logo {
    font-family: 'Bungee Inline', cursive;
    text-align: center;
    font-size: 50px;
    display: block;
    padding-top: 50px;
}

main .scissors {
    width: 400px;
    height: 100px;
}

main .scissors-holder {
    display: flex;
    justify-content: center;
    padding-top: 110px;
}

main .barber {
    width: 100%;
}

main .barber {
    display: block;
}

main .moustache {
    width: 400px;
    height: 100px;
}

.moustache-holder {
    display: flex;
    justify-content: center;
}

main h2 {
    text-align: center;
    font-family: 'Abril+Fatface', sans-serif;
    display: block;
    margin-top: 5px;
    margin-right: 15px;
}

main .name-of-barbers {
    text-align: center;
    font-family: 'Abril+Fatface', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 2px;
}

main .position {
    text-align: center;
    font-family: 'Abril+Fatface', sans-serif;
    font-size: 12px;
    display: block;
    margin: 5px auto;
}

main .mikebarber {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .barber-pole1 {
    width: 160px;
    height: 121px;
}

main .barber-pole2 {
    width: 160px;
    height: 121px;
}

main .barber-pole3 {
    width: 160px;
    height: 121px;
}

main .mike {
    width: 663px;
    height: 663px;
}

main .tommy {
    width: 668px;
    height: 428px;
}

main .johnny {
    width: 668px;
    height: 428px;
}

main .razor {
    width: 400px;
    height: 100px;
}

main .razor-holder {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

main .services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    color: white;
    background-color: black;
}

main .first-list li {
    list-style: none;
}

main .second-list li {
    list-style: none;
}

main .third-list li {
    list-style: none;
}

@media (max-width: 720px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-menu li {
        padding: 20px 0;
        font-size: 14px
    }

    header .logo {
        display: block;
        font-family: 'Bungee Inline', cursive;
        text-align: center;
        font-size: 25px;
    }

    .barber-pole1 {
        display: none;
    }

    .barber-pole2 {
        display: none;
    }

    .barber-pole3 {
        display: none;
    }

    .razor-holder {
        padding-top: 60px;
        padding-bottom: 10px;
    }
}

@media (max-width: 540px) {
    .scissors {
        display: none;
    }
    main .scissors-holder {
        display: none;
    }

    main .barber {
        display: none;
    }

    main .moustache {
        width: 200px;
        height: 50px;
    }
    main .moustache-holder {
        padding-top: 70px;
    }
    main .mike {
        
        width: 100%;
        height: 500px;
    }

    main .tommy {
        width: 100%;
        height: 300px;
    }

    main .johnny {
        width: 100%;
        height: 300px;
}
    main .razor {
        width: 200px;
        height: 50px;
    }

    .services {
        font-size: 14px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media (max-width: 400px) {
    header .nav-menu li {
        padding: 15px 0;
        font-size: 10px
    }
    header .logo {
        font-family: 'Bungee Inline', cursive;
        text-align: center;
        font-size: 17px;
        display: block;
        padding-top: 25px;
    }

    main .scissors-holder {
    display: none;
    }
    main .moustache {
        
        width: 150px;
        height: 30px;
    }

    main .razor {
        width: 150px;
        height: 30px;
    }
    main .servicesprices {
        padding-bottom: 20px;
    }

    main .name-of-barbers {
        font-size: 15px;
    }

    main .mike {
        width: 100%;
        height: 400px;
    }

    main .tommy {
        width: 100%;
        height: 270px;
    }

    main .johnny {
        width: 100%;
        height: 270px;
    }

    main h2 {
        font-size: 13px;
    }

    main .services {
        font-size: 6px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
