.our-barbers {
    font-family: 'Amethysta', serif;
    font-size: 17px;
    font-weight: bold;
    color: black;
    text-decoration: none
}

.services-prices {
    font-family: 'Amethysta', serif;
    font-size: 17px;
    font-weight: bold;
    color: black;
    text-decoration: none
}

.get-a-seat {
    font-family: 'Amethysta', serif;
    font-size: 17px;
    font-weight: bold;
    color: black;
}

.our-friends {
    font-family: 'Amethysta', serif;
    font-size: 17px;
    font-weight: bold;
    color: black;
    text-decoration: none
}

.contact {
    font-family: 'Amethysta', serif;
    font-size: 17px;
    font-weight: bold;
    color: black;
    text-decoration: none
}

h2 {
    font-size: 23;
    text-decoration: none;
    font-weight: normal;
}

.name-of-barbers {
    font-family: 'Abril+Fatface', serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.services {
    font-size: 20px;
    color: black;
}

input {
    text-align: center;
}

.adress {
    font-family: 'David+Libre', serif;
    font-size: 25px;
    font-weight: bold;
}

.time {
    font-size: 20px;
    font-weight: bold;
}

.phone {
    font-size: 26px;
    font-weight: bold;
    color: black;
}

.footer {
    font-size: 15px;
    font-weight: bold;
}
